body{
    margin: 0;
}
.page{
    position: relative;
    display: flex;
    flex-direction: column;
}
.slidebar{
    background-color: #282A35;
    display: flex;
    padding: 10px;
}
.logo{
    width: 130px;
}
a{
    text-decoration: none;
    color: white;
}
a:visited{
    color: white;
}
a:hover{
    color: white;
}
@media (min-width: 640px) {
    .page{
        flex-direction: row;
    }
    .slidebar{
        height: 100vh;
        width: auto;
        position: sticky;
        top: 0;
        display: block;
    }
}